body { font: 12pt "Segoe UI", Arial }

main, footer { display : grid; place-items: center }

h1, h2, h3, h4 { font-weight: 100; }

a, a:link, a:visited { color: #902dff }
a, a:hover { transition : 0.3s; color: #b648ff }

article, footer span { padding : 20px; max-width: 800px; }

ul, ol { padding-left: 20px; }

ul li { list-style: circle; }

a#home {
	position: fixed;
	display: block;
	width: 60px;
	height: 60px;
	background-image: url('icon.png');
	background-size: 60px;
	font-size: 0pt;
	z-index : 51;
	box-shadow: 0px 0px 10px rgba(0, 0, 5, 0.4);
}

a#home:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 20, 0.4);
}

.spotlight {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 0px;
	max-width: 1000px;
}

.spotlight a {
	flex: 1 1 280px;
	text-decoration: none;
	height: 280px;
	display: block;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	background: no-repeat right;
}

#marine-king {
	flex: 1 1 927px;
	text-align: right;
	color: #fdf6e3;
	opacity: 0.8
}

#marine-king:hover {
	opacity: 1
}

#marine-king span {
	display: inline-block;
	width: 280px;
	text-align: left;
}

.spotlight a:hover {
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
}

.spotlight a:link, .spotlight a:visited {
	color: black;
}
