body {
    place-items: center;
    font-family: "Segoe UI", arial;
    background-color: #eee8d5;
    color: #002b36;
    font-size: 12pt;
}

header {
    width: 800px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 40px;
    color : #fdf6e3;
    text-shadow: 0px 0px 10px black;
}

article {
    background-color: #fdf6e3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #93a1a1;
    color: #fdf6e3;
}

.background-video {
    position: fixed;
    top: 0px;
    width: 80%;
    left: 10%;
    z-index: -1;
}

a.download {
    font-weight: lighter;
    color: #fdf6e3;
    background-color: #2aa198;
    display: inline-block;
    padding: 10px 30px;
    font-size: 22pt;
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    width: 20%;
    text-align: center;
    margin: 10px;
    transition: 0.3s;
}

a.download:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

a.windows { background-color: #268bd2; }

a.mac { background-color: #657b83; }

footer p {
    max-width: 800px;
}

.closing img {
    float: left;
    margin: 10px;
}
